

.boton {
    background-color: #1161ed;
    color: #FFF;
    width: 15%;
    padding: 10px 20px;
    display: block;
    height: 50px;
    border-radius: 20px;
    margin-top: 200px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;


}

.boton:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

.boton:focus {
    outline: none;
}





.botonOscuro {
    background-color: #0070AB;
    color: #FFF;
    width: 200px;
    padding: 10px 20px;
    display: block;
    height: 50px;
    border-radius: 20px;
    margin-top: 200px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;


}

.botonOscuro:hover {
    background: #DAB162;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

.botonOscuro:focus {
    outline: none;
}


.imagenBoton{
    background-color: transparent;
    border: none;
    
}
