.boton {
  padding: 6px 20px;
  border-radius: 20px;
  background: #DBB162;
  border: 2px solid #DBB162;
  color: black;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}

.boton:hover {
  background: #DBB162;
  color: white;
  box-shadow: 0px 4px 100px -5px #E9B950;
  cursor: pointer;
}


.botonAzul {
  padding: 15px 30px;
  border-radius: 99px;
  background: #0081C4;
  border: 2px solid #0081C4;
  color: white;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}

.botonAzul:hover {
  background: #393673;
  color: white;
  box-shadow: 0px 4px 100px -5px #393673;
  border: 2px solid #393673;
  cursor: pointer;
}
/*
  background: #393673;
  border: 2px solid #393673;
  */