  /*Trigger Button
.login-trigger {
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to bottom right, #B05574, #F87E7B);
  padding: 15px 30px;
  border-radius: 30px;
  position: relative; 
  top: 50%;
}
*/

/*Modal*/
.loginText {
  font-weight: bold;
  color: white;
  text-align: center;
}
.close {
  color: #fff;
  transform: scale(1.2)
}
.modal-content {
  font-weight: bold;
  /*background: linear-gradient(to bottom right,#DBB369,#E9B950);*/
  /*background: linear-gradient(to bottom right,#E9B950,#F87E7B);*/
  background: linear-gradient(to bottom right,#2A3867,#231234);
  opacity: 1;
}
.form-control {
  margin: 1em 0;
  
}

/*.form-control, input[type="text"] , input[type="password"] {*/
#traslucido{
  background-color: #152244;
  color: white;
  opacity: 0.8;
  text-align: center;
}
.form-control:hover, .form-control:focus {
  box-shadow: none;  

}
.username, .password {
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding-left: 0;

  font-weight: normal;
  background: transparent;  
}
.form-control::-webkit-input-placeholder {
  color: white;  
}
.form-control:focus::-webkit-input-placeholder {
  font-weight: bold;
  color: #fff;
}

.agregarAutomovil {
  padding: 6px 20px;
  border-radius: 20px;
  background: #DBB162;
  border: 2px solid #DBB162;
  color: black;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}

.agregarAutomovil:hover {
  background: #DBB162;
  color: white;
  box-shadow: 0px 4px 100px -5px #E9B950;
  cursor: pointer;
}

.campoTraslucido {
  background-color: #152244;
  color: white;
  opacity: 0.8;
  text-align: center;
}

.tituloCampo{
  color: white;
  opacity: 0.7;
}