body {
	/*background-color: #153A59;*/
    margin-top: 100px;
    background-color: black;
}

.navbar{
	background-color: #0A2F47;
	background: url(bg3.png) 50% 0 fixed;
}


.navbar-fixed-top .nav {
    padding: 18px 0;
}

@media (max-width: 767px) { 


    .navbar-brand {
        padding: 0px;        
    }

    .navbar-brand img {
        margin-top: 2px;
        margin-left: 5px;
    }

    .navbar-toggle{
    	margin-bottom: 42px;
    }


}

/***********************************************************************************/




.row{
	width: 90%;
	margin: auto;
}

.datos{
	padding-left: 12px;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 100px;

	margin-left: 100px;
	border-bottom: 1px solid #ffffff;
}

.datosPersonales, .datosAlumno, .datosProfesor{
	opacity: 0.8;
	font-size: 16px;
}

.registro{
    height: 100%;
    width: 100%;
    margin-top: -50px;
    background: url(bg4.png) no-repeat center center #505050;
    background-size: cover;

    background-color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;

    padding-top: 20px;
    padding-bottom: 50px;
}

.text {
    border: none;
    width: 89%;
    padding: 10px 20px;
    display: block;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.text:focus {
    outline: 0;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    background: rgba(0, 0, 0, 0);
}

.text:focus + span {
    opacity: 0.8;
}









input[type="text"],
input[type="password"] {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

input {
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
}

select[type="text"]{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

select{
    display: inline-block;
    padding-top: 20px;
    font-size: 14px;
}


.btnRegistrarse {
    background-color: #1161ed;
    color: #FFF;
    width: 40%;
    padding: 10px 20px;
    display: block;
    height: 50px;
    border-radius: 20px;
    margin-top: 70px;
    transition: all 0.5s ease-in-out;
    border: none;
    text-transform: uppercase;


}

.btnRegistrarse:hover {
    background: #4082f5;
    box-shadow: 0px 4px 35px -5px #4082f5;
    cursor: pointer;
}

.btnRegistrarse:focus {
    outline: none;
}

