@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

* {
  box-sizing: border-box;

}

html,
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: white;
  
  background-color: #152244;
}

#name{
  width: 300px;
}

.row {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
  padding-top: 30px;
  background: #152244;
  position: relative;
  z-index: 1;
  text-align: center;
}
.row:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -5000px;
  height: 100%;
  width: 15000px;
  z-index: -1;
  background: inherit;
}
.row:first-child {
  padding: 40px 30px;
}

.row span {
  position: relative;
  display: inline-block;
  margin: 0px 90px;
}

.basic-slide {
  display: inline-block;
  width: 215px;
  padding: 10px 10px 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  text-align: center;
  color: #377D6A;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 70px;
  transition: all .3s ease-in-out;
}
.basic-slide::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.basic-slide + label {

  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 10px;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #005A8A;
  transition: all .3s ease-in-out;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.basic-slide:focus,
.basic-slide:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.basic-slide:focus::-webkit-input-placeholder,
.basic-slide:active::-webkit-input-placeholder {
  color: #aaa;
}
.basic-slide:focus + label,
.basic-slide:active + label {
  transform: translateX(-100%);
}