body {
	/*background-color: #153A59;*/
    margin-top: 125px;
}

.navbar{
	background-color: #0A2F47;
	background: url(bg3.png) 50% 0 fixed;
}


.navbar-fixed-top .nav {
    padding: 18px 0;
}

@media (max-width: 767px) { 


    .navbar-brand {
        padding: 0px;        
    }

    .navbar-brand img {
        margin-top: 2px;
        margin-left: 5px;
    }

    .navbar-toggle{
    	margin-bottom: 42px;
    }


}



/*************************************************************/

@sR: #418a95;
@sRLight: #418a95 + #222;
@sRDark: #418a95 - #222;
@darkGrey:#6b6b6b;
@offWhite:#f6f3f7;
@bg:#f6f3f7 - #111;
@darkBg:#f6f3f7 - #222;



#tableTitle{

	margin-top: -40px;
	margin-bottom: 0px;

	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #152244;
	color: #f6f3f7;
}

.headingTr{
	font-weight:bold;
	background-color: #152244;
	color: #f6f3f7;
}


.flatTable{
	margin:0;
	padding:0;
	background-color: #f6f3f7;
	width:100%;
	min-width:500px;
	border-collapse: collapse;
	height: 500px;
	text-align: center;
	font-size:18px;

	td{    
		box-sizing:border-box;
		padding-left:30px;

	}
}





#agregar{
	text-align: center;
}

.btnAgregar {

	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	padding:9px 24px;
	text-decoration:none;
}
.btnAgregar:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
	text-decoration: none;
	color:#ffffff;
}
.btnAgregar:active {
	position:relative;
	top:1px;
}