/*
#tableTitle{

	margin-bottom: 0px;

	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #152244;
	color: #f6f3f7;
}
*/

.encabezado{
	background-color: #005987;
	font-weight:bold;

}


.tablaEliminar{
	background-color: #006599;
	color: #F6F3F7;
	width:100%;
	border-collapse: collapse;
	height: 200px;
	text-align: center;
	font-size:18px;
	margin-top: 150px;

	td{    
		box-sizing:border-box;
		padding-left:30px;

	}
}